 nav {
  position: fixed; /* to keep it at the top of the page. */ 
  z-index: 1000; 
  top: 0; /* makes sure the nav bar stays at the very top of the viewport.*/ 
  display: flex;
  font-family: 'Source Sans 3', sans-serif;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: rgb(165, 191, 208);
  background-image: url("../images/arches.png");
  padding: 0 1.5em;
 }

 .nav-tweeter-brand {
  font-family: 'Bungee';
  color: #FFFFFF;
}

 .nav-tweet-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  padding: 0 1.5em;
 }

 .nav-tweet-btn i {
  color: red;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
}