.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tweet-form {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 50px;

}

.counter-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  font-family: 'Bungee';
}

#tweet-button {
  background-color: #4056A1;
  color: white;
}

#tweet-button:hover {
  background-color: #263a6a; /* Darker shade on hover */
}


#tweet-text {
  resize: none;
  background-color: transparent;  /* Makes the background invisible */
  border: none;
  outline: none;
  border-bottom: 3px solid black;        
  color: #333;                    /* Text color for visibility */
  font-size: 16px;                 /* Font size */
}

.negative {                      /* counter becomes red when < 0 */
  color: red;
}