.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tweet-form {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin: 50px;

}

.counter-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  font-family: 'Bungee';
}

.submit-button {
  background-color: #4056A1;
  color: white;
}

.submit-button:hover {
  background-color: #334C8C; /* Darker shade of the background color on hover */
}


#tweet_text {
  resize: none;
  padding: 20px;
}